[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
matplotlib = "*"
pyyaml = "*"
stable-baselines3 = "*"
sacred = "==0.7.4"
pymongo = "*"
sshtunnel = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.8"
